.eslintrc.js
node_modules
test/test-modules
src/backend/slimerjs/docs

src/*.js
src/types/*.js
src/library-models/*.js
src/library-models/*/*.js
src/browser/*.js
src/backend/*.js
src/dynamic/analyzer.js
src/browser/headless-bot.js
src/browser/stack-frame.js
src/utils/common.js
src/utils/ast.js
src/utils/analyzer.js

src/backend/slimerjs/chrome
src/backend/slimerjs/components
src/backend/slimerjs/defaults
src/backend/slimerjs/modules
src/backend/slimerjs/vendors

src/backend/chrome/*.js

src/backend/slimerjs/run-analyzer-managed.js
src/backend/slimerjs/run-analyzer.js
src/backend/slimerjs/analyzer/html-deps.js
src/backend/slimerjs/analyzer/dynamic-deps.js
src/backend/slimerjs/analyzer/dynamic/*.js
src/backend/slimerjs/analyzer/browser/headless-bot.js
src/backend/slimerjs/analyzer/browser/html-dep-location.js
src/backend/slimerjs/analyzer/browser/mutation-observer.js
src/backend/slimerjs/analyzer/parser.js

test/a
test/cs
test/fs
test/injectrequire
test/jasmine
test/node_modules
test/www
test/wwwfile
test/*.js

test/analyzer/*.js
test/analyzer/data
test/analyzer/mine-args/*.js
test/analyzer/mine-deps/*.js
test/analyzer/analysis/*.js
test/analyzer/analysis/classes/*.js
test/analyzer/page
test/analyzer/utils/*.js
test/analyzer/backend/slimerjs/*.js
test/analyzer/analysis/data
