---
lang: "en"
---

<!DOCTYPE html>
<html>
  <head>
    <title>Relwarc</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% assign local_baseurl='https://blog.secsem.ru' | append: '/' | append: page.lang %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="https://blog.secsem.ru/feed/en.xml" />

  </head>

  <body>

    <div id="main" role="main" class="container">
      <h1><span class="relw">Relwarc</span></h1>

      <p>Relwarc is a client-side JavaScript code analyzer for discovering server HTTP endpoints.</p>

      <p>Crawlers discover HTTP requests by actively interacting with web pages. Relwarc does the opposite: it refrains from page interaction and looks at the source code itself.
      It uses a static analysis algorithm for client-side JS for discovering HTTP requests sent from that JS and, thus, finding server endpoints accessed by the code. Relwarc can be used as a part of a web security scanner as a standalone tool for web security assessment/pentest.</p>

      <p>We wrote a couple of blog posts that describe the algorithm in a beginner-friendly way. <a href="https://blog.secsem.ru/en/mining-requests-from-js-with-static-analysis/">Check them out here</a>.</p>

      <p>The algorithm implementation is published in this repo (the repo containing this wiki). Relwarc is also available as a free online service: <a href="https://relwarc.solidpoint.net/">https://relwarc.solidpoint.net/</a>.</p>

    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
  </body>
</html>
